@import 'colors';
.auth {
    background: url("/images/Login-page.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.panel-default {
    opacity: 0.9;
    margin-top: 30px;
}

.form-group.last {
    margin-bottom: 0px;
}

.logo {
    width: 322px;
    height: 102px;
    margin-top: -40px;
    margin-left: -20px;
}

.ex-look {
    width: 550px;
    height: 250px;
}

.name {
    font-family: Riesling;
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: #999;
    text-shadow: 2px 2px 4px #999;
    // background: url("/images/Login-page.jpg") no-repeat center center;
}

.name-2 {
    // font-family: Riesling;
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: -30px;
    color: #999;
    // text-shadow: 2px 2px 4px #999;
}

.logo-header {
    height: 455px;
    width: 100%;
    margin-top: -119px;
    margin-bottom: -115px;
}

.navbar {
    background-color: #000;
    border-radius: 0;
}

.thumbnail {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.circle:hover {
    border-radius: 50%;
}
.img-rounded {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.direction {
    font-style: italic;
    font-size: 12px;
    color: gray;
}

.outfit {
    width: 350px;
}
