<!-- <div ng-repeat="look in looks">
    <div col-xs-4>
        <p>Username: {{user.username}}</p>
        <p>Title: {{look.title.uid}}</p>
        <img ng-src="{{look.shirtimage.uid}}" alt="">
        <img ng-src="{{look.pantimage.uid}}">
        <button class="btn btn-default"><a ng-href="#!/style/edit/{{look.id}}">Edit</a></button>
        <button class="btn btn-danger" ng-click="deleteLook(look.id)">Delete</button>
    </div>
</div>
 -->
<div ng-repeat="oufit in oufits">
    <div col-xs-4>
        <p>Username: {{user.username}}</p>
        <p>Title: {{outfit.title}}</p>
        <img ng-src="{{oufit.shirtimage}}" alt="">
        <img ng-src="{{oufit.pantimage}}">
        <button class="btn btn-default"><a ng-href="#!/style/edit/{{mylook.id}}">Edit</a></button>
        <button class="btn btn-danger" ng-click="deleteLook(look.id)">Delete</button>
    </div>
</div>