<div class="list-inline center-block text-center">
    <h3>New Look</h3>
        <div class="form-group">
            <label>Name Your Look</label>
            <input type="text" class="form-control" placeholder="Title" ng-change="inputChange(userLook)" ng-model="title"/>
        </div>


        <div class="col-xs-4 col-xs-offset-4">
            <h3 class="list-inline center-block text-cente" ng-if="!editTitle">Outfit</h3>
                <img class="outfit center" ng-src="{{shirt.image}}" alt="" ng-if="!editTitle">
                
        </div>

        <div class="col-xs-4 col-xs-offset-4">
           <img class="outfit center" ng-src="{{pant.image}}" alt="" ng-if="!editTitle">

        </div>   

        


        <button class="btn btn-default col-xs-4 col-xs-offset-4" ng-if="!editTitle" ng-click="addNewStyle(title)">Create Collection</button>

        <button class="btn btn-danger" ng-if="editTitle" ng-click="editLook(userLook)">Edit Name</button>
</div>


