<div>
	        
    <h3>Design Lab</h3>
        <form>
            <div class="form-group">
                <label>Name Your Look</label>
                <input type="text" class="form-control" placeholder="Title" ng-model="newLook.title"/>
                
                <div ng-model="newLook.image">

                	<img src="{{shirt.image}}" alt="">

                </div>
                
            </div>
            <button class="btn btn-default" ng-click="">Create Collection</button>
        </form>



</div>