
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

<a class="navbar-brand" ng-href="#!/home"><img class="logo" ng-src="/images/Untitled47.png" ng-if="user.uid"></a>


    </div>

      <!--   <li><a href="https://www.instagram.com/thomas_collection_clothing/"><img src="/images/instagram.svg" alt="twitter"></a></li>
        <li><a href="https://twitter.com/TC_Clothing2004"><img src="/images/twitter.svg" alt="twitter"></a></li>
        <li><a href="https://www.facebook.com/ThomasCollectionClothingLLC/"><img src="/images/facebook.svg" alt="twitter"></a></li> 
        <li><a href="https://www.youtube.com/channel/UCf6fI2yqwbxMiTjjITcCyJA"><img src="/images/youtube.svg" alt="twitter"></a></li> -->
          </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>