<h1 class="list-inline center-block text-center">Collections</h1>
<div ng-repeat="look in looks">
    <div class="list-inline center-block text-center"">
        <p>Username: {{user.username}}</p>
        <p>Title: {{look.title}}</p>
        <img class="outfit" ng-src="{{look.shirtimage}}" alt="">
        <img class="outfit" ng-src="{{look.pantimage}}"><br>
        <button class="btn btn-default list-inline center"><a ng-href="#!/style/edit/{{look.id}}">Edit</a></button>
        <button class="btn btn-danger list-inline center" ng-click="deleteLook(look.id)">Delete</button>
    </div>
</div>


