  <div>
    <h1 class="name">THOMAS COLLECTION</h1>
    <h2 class="name-2"><strong>CLOTHING</strong></h2>
  </div>
    <!-- <div ng-if="user.uid">
      <img class="logo-header" ng-src="/images/cover.jpg">
      
    </div> -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" >
        <li><a class="navbar-brand fa fa-home fa-2x" href="#!/home" ng-if="user.uid"></a></li>
        <li><a class="fa fa-binoculars" ng-href="#!/lookbook{{userLook.uid}}" ng-if="user.uid">LookBook</a></li>
        
      </ul>
     <ul class="nav navbar-nav navbar-right" ng-if="user.uid">
      
      <li><a ng-href="#!/logout" class="fa fa-sign-out">Sign Out</a></li>

    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>

