.auth {
  background: url("/images/Login-page.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.panel-default {
  opacity: 0.9;
  margin-top: 30px; }

.form-group.last {
  margin-bottom: 0px; }

.logo {
  width: 322px;
  height: 102px;
  margin-top: -40px;
  margin-left: -20px; }

.name {
  font-family: Riesling;
  display: flex;
  justify-content: center;
  font-size: 100px;
  color: #999; }

.name-2 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-top: -30px;
  color: #999; }

.logo-header {
  height: 455px;
  width: 100%;
  margin-top: -119px;
  margin-bottom: -115px; }

.navbar {
  background-color: #000;
  border-radius: 0; }
